.modal-section {
    .province,
    .city,
    .district {
        display: none;
        max-height: 200px;
        overflow: scroll;
    }

    .top {
        height: 200px;
    }

    .down {
        height: 400px;
    }

    .place-select {
        display: flex;

        .item {
            flex: 1;
        }
    }

    .selected{
        background: red;
    }
}